    <script src="/js/dragUpload.js"></script>
    <script src="http://packery.metafizzy.co/packery.pkgd.min.js"></script>
    <script type="text/javascript">
          var container = document.querySelector('#moodboard');
          var pckry = new Packery( container, {
            // options
            itemSelector: 'packer',
            gutter: 0
          });
    </script>
  </body>
</html>
